<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}BDE ISIMA{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>



<body>
<header>
    <div class="container center" id="container_logo">
        <h1 style="color: pink;">
            SRT BANK
        </h1>
    </div>
</header>


<div class="container">
    {% block body %}{% endblock %}
</div>


<footer>
    <div class="container">
        <p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> SRT Bank 2015, All Rights Reserved</p>
    </div>
</footer>
</body>
</html>
