<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SRT Bank{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>



    <body>
        <header>
            <div class="container center" id="container_logo">
                <!--<a href="">
                    <img src="{{ asset('images/logos/logo.gif') }}" style="max-height: 150px;" alt="Logo SRT Bank">
                </a>-->
                <h1 style="color: pink;">
                    SRT BANK
                </h1>
            </div>

            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Menu</a>
                    </div>




                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('bank_project_homepage') }}">Index</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('account') }}">Accounts</a></li>
                                <li><a href="{{ path('transaction_new') }}">Make a transfer</a></li>
                            {% endif %}
                            <li><a href="{{ path('bank_project_contactus') }}">Contact Us</a></li>
                        </ul>

						<ul class="nav navbar-nav pull-right">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<li> <a href="#">{{ app.user.username }}</a> </li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<b class="caret"></b>
									</a>
										
									<ul id="dropdown" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
										<li> <a href="{{ path('fos_user_security_logout') }}">Log Out</a> </li>
									</ul>
								</li>
							{% else %}
								<a class="" href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
							{% endif %}
						</ul>
                    </div>
                    </ul>
                </div>
            </nav>
        </header>


        <div class="container text-justify">
            {% block body %}{% endblock %}
        </div>




        <footer>
            <div class="container">
                <p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> SRT Bank 2015, All Rights Reserved</p>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
