{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Account list</h1>

    <div class="table-responsive">
        <table class="table records_list">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Label</th>
                    <th>Current Money</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('account_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.accountLabel }}</td>
                    <td>
                        {% if entity.currentMoney < 0 %}
                        <span style="color:red">
                        {% endif %}
                            {{ entity.currentMoney }}
                        {% if entity.currentMoney < 0 %}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('account_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('account_statement_show', { 'id': entity.id }) }}">Statement</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
