{% extends '::baseExport.html.twig' %}

{% block body -%}
    <h1>Account</h1>

    <table class="table record_properties">
        <tbody>
        <tr>
            <th>Label</th>
            <td>{{ entity.accountLabel }}</td>
        </tr>
        <tr>
            <th>Current Money</th>
            <td>
                {% if entity.currentMoney < 0 %}
                <span style="color:red">
                    {% endif %}
                    {{ entity.currentMoney }}
                    {% if entity.currentMoney < 0 %}
                    </span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('BankProjectBundle:Transaction:liste_detail.html.twig', {'entities': transactions, 'account_id': entity.id}) }}
{% endblock %}