    <h1>Transaction list</h1>

    <div class="table-responsive">
        <table class="table records_list">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Source</th>
                    <th>Destination</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.transactionLabel }}</td>
                    <td>{{ entity.date|date('d/m/Y') }}</td>
                    <td>
                        {% if entity.source == account_id %}
                        -
                        {% endif %}
                        {{ entity.amount }}
                    </td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.source }}</td>
                    <td>{{ entity.destination }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>