{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Transfer</h1>


        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.transactionLabel) }}
            {{ form_row(form.source) }}
            {{ form_row(form.destination) }}
            {{ form_row(form.amount) }}

            <div>
               {{ form_widget(form.submit) }}
                <a href="{{ path('bank_project_homepage') }}">
                    <button type="button" class="">Cancel</button>
                </a>
            </div>
    {{ form_end(form) }}
{% endblock %}
