{% extends '::base.html.twig' %}

{% block body -%}
Please do not contact us by mail, we do not read it beacause it is too complicated. And if you send a mail you will be cursed. And your family will die. Yes. Trust us, we are engineers, we are the truth. The cake is a lie.<br/>
<br/>
Phone: +666 66 66 66 66 6... well, maybe not so relevant.<br/>
Fax: People still use that !?<br/>
Minitel: What the hell ?!!!<br/>
Minitel 2.0: welcome to the future.<br/>
Back to the future: please to call Doc. Umentary as fast as possible!<br/>
{% endblock %}