{% extends '::base.html.twig' %}

{% block body -%}
To the Reader<br/>
<br/>
Folly and error, avarice and vice,<br/>
Employ our souls and waste our bodies' force.<br/>
As mangey beggars incubate their lice,<br/>
We nourish our innocuous remorse.<br/>
Our sins are stubborn, craven our repentance.<br/>
For our weak vows we ask excessive prices.<br/>
Trusting our tears will wash away the sentence,<br/>
We sneak off where the muddy road entices.<br/>
Cradled in evil, that Thrice-Great Magician,<br/>
The Devil, rocks our souls, that can't resist;<br/>
And the rich metal of our own volition<br/>
Is vaporised by that sage alchemist.<br/>
The Devil pulls the strings by which we're worked:<br/>
By all revolting objects lured, we slink<br/>
Hellwards; each day down one more step we're jerked<br/>
Feeling no horror, through the shades that stink.<br/>
Just as a lustful pauper bites and kisses<br/>
The scarred and shrivelled breast of an old whore,<br/>
We steal, along the roadside, furtive blisses,<br/>
Squeezing them, like stale oranges, for more.<br/>
Packed tight, like hives of maggots, thickly seething<br/>
Within our brains a host of demons surges.<br/>
Deep down into our lungs at every breathing,<br/>
Death flows, an unseen river, moaning dirges.<br/>
If rape or arson, poison, or the knife<br/>
Has wove no pleasing patterns in the stuff<br/>
Of this drab canvas we accept as life -<br/>
It is because we are not bold enough!<br/>
Amongst the jackals, leopards, mongrels, apes,<br/>
Snakes, scorpions, vultures, that with hellish din,<br/>
Squeal, roar, writhe, gambol, crawl, with monstrous shapes,<br/>
In each man's foul menagerie of sin -<br/>
There's one more damned than all. He never gambols,<br/>
Nor crawls, nor roars, but, from the rest withdrawn,<br/>
Gladly of this whole earth would make a shambles<br/>
And swallow up existence with a yawn...<br/>
Boredom! He smokes his hookah, while he dreams<br/>
Of gibbets, weeping tears he cannot smother.<br/>
You know this dainty monster, too, it seems -<br/>
Hypocrite reader! - You! - My twin! - My brother!<br/>
- Roy Campbell, Poems of Baudelaire (New York: Pantheon Books, 1952)
{% endblock %}
